@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto', sans-serif;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
}

/* Сделал без объявления классов, просто присвоил всем параграфам нужный стиль. Далее использовал объявление классов, в соответствии с ТЗ. */
.main {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.project__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__item_margin {
  margin-right: 32px;
}

.project__image {
  width: 100%;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__text_left {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 32px;
  left: 32px;
}

.sec {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.head3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-top: 64px;
}

.head3__1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: white;
  padding-bottom: 32px;
  width: 340px;
}

.head4 {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.vvod {
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.knop {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top__content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-image: url(image/top_back.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.top__text__h1 {
  width: 510px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.top__text__p {
  width: 425px;
  padding-top: 32px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.top__content {
  min-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.top {
  border: 4px solid red;
}

.mid__text {
  width: 359px;
  padding: 44px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.text__mid {
  width: 75%;
  margin: 32px auto 64px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  opacity: 1;
}

.footer {
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__header {
  width: 495px;
}

.footer__button {
  background: #5A98D0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 15px 80px;
  text-decoration: none;
}

/* Т.к. разделительная линия сама по себе блок - редактирую ее без div */
hr {
  height: 3px;
  border: 0;
  background-color: #8abcda;
  opacity: 0.4;
}

.rights {
  margin-top: 64px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 64px;
}

.list__in {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
}

.list__in:first-child::before {
  content: '1.';
  display: block;
  margin-right: 16px;
}

.list__in:nth-child(2)::before {
  content: '2.';
  display: block;
  margin-right: 16px;
}

.list__in:last-child::before {
  content: '3.';
  display: block;
  margin-right: 16px;
}

.end {
  background-color: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
}

.conttop__text {
  border: 4px solid red;
}

.menu2 {
  border: 2px solid green;
  height: 50px;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 70px;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
}

.contus {
  border: 3px solid purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sendus {
  border: 3px solid purple;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ol {
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__content__box {
    background-position: right 350px;
    background-size: 44%;
  }
  .mid__context {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mid__text {
    margin-bottom: 32px;
  }
  .head3 {
    padding-top: 64px;
  }
  .end {
    margin-top: 109px;
  }
  .project__text_left {
    font-size: 28px;
  }
  .end {
    margin-top: 109px;
    padding-top: 47px;
    padding-bottom: 64px;
  }
  .footer {
    padding-bottom: 64px;
    padding-left: 124px;
    padding-right: 124px;
  }
  .footer__header {
    padding-top: 18px;
    width: 100%;
  }
  .head3__1 {
    font-size: 36px;
    line-height: 46px;
  }
  .list {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rights {
    text-align: left;
  }
  .footer__button {
    width: 75%;
    padding: 2px 5px;
  }
  .list__in {
    font-size: 16px;
    line-height: 19px;
    padding-top: 25px;
  }
  .rights {
    margin-top: 64px;
  }
  .podval {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 667px) {
  .main {
    padding-top: 36px;
  }
  .menu {
    padding-top: 24px;
  }
  .top__text__h1 {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top__text__p {
    width: 100%;
    text-align: center;
  }
  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 41px;
  }
  .top__content__box {
    background-image: none;
  }
  .top__content {
    min-height: 376px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mid__context {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 0px;
  }
  .mid__text {
    width: 100%;
    margin-bottom: 16px;
  }
  .head3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding-top: 48px;
  }
  .text__mid {
    width: 100%;
  }
  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__text_left {
    font-size: 16px;
    line-height: 19px;
    top: 26px;
    left: 16px;
  }
  .project__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .project__item {
    width: 100%;
    margin-top: 16px;
  }
  .end {
    margin-top: 64px;
    padding-top: 18px;
    padding-bottom: 32px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 41px;
  }
  .footer__header {
    padding-top: 18px;
    width: 100%;
    text-align: center;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .head3__1 {
    font-size: 24px;
    line-height: 28px;
  }
  .footer__button {
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 2px 5px;
    width: auto;
  }
  .list {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list__in {
    font-size: 16px;
    line-height: 19px;
    padding-top: 17px;
  }
  .rights {
    text-align: center;
    margin-top: 37px;
  }
}
/*# sourceMappingURL=style.css.map */